body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background: #c6ecd9;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
h1, h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

header{
    box-sizing: border-box;
    flex: 0 1 auto;
    background-color: black;
    width: 100%;
    border-bottom: 10px solid #666699;
    
  }


footer{
   border-top: 10px solid #666699;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
}
 button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 1em 1em;
    margin: 0.5em;
    text-transform: uppercase;
    border: none;
    border-radius: 1em;
    background: #79d2a6;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    
    
}

div {
    margin-top:1%;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 90vh;
    max-width: 500px;
    max-height: 500px;
    border-radius: 15em;
    text-align: center;
    background: #333333;
    display: flex;
    

}