
.cuadro{
  height: 200px;
  opacity: 0.5;
  transition: opacity 500ms;
  transition: border 100ms;

}

.cuadro-1{
  border-radius: 1000px 0px 0px 0px;
}
.cuadro-2{
  border-radius: 0px 1000px 0px 0px;
}
.cuadro-4{
  border-radius: 0px 0px 1000px 0px;
}
.cuadro-3{
  border-radius: 0px 0px 0px 1000px;
}
#bloquePrincipal{
  background: LightSlateGrey;
}
footer{
  
  width: 100%;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.piola{
  font-family: "Montserrat", sans-serif;
}
html,body{
  margin:0px;
  height:100%;
  width: 100%;
  padding: 0px;
  }

.bloque-botones{
  height: 55%;
  margin:0px;
  padding: 0px;
  width: 100%;
  }
#info{
    height: 35%;
    opacity: 100%;
    margin:0px;
    padding: 0px;
    width: 100%;
  }
#puntajeJugador{
  opacity: 100%;
}

#barraInformacion{
    width: 100%;
  }
#puntajes{
  border-radius: 15px;
  height: 160px;
}
input{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
}

